* {
  border-radius: 0px;
  font-family: 'monospace, FontAwesome';
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
  color: white;
}

window#waybar > box {
  background: #111;
  border-radius: 5px;
  margin: 10px 10px 0 10px;
  padding: 8px 0;
}

#workspaces button {
  background: transparent;
  padding: 0 2px;
}

#workspaces button label {
  color: white;
  padding: 0;
}

#workspaces button:hover {
  box-shadow: inherit;
}

#workspaces button.focused {
  background-color: #64727D;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

label {
  background-color: transparent;
  padding: 0 15px;
}

label.muted {
  color: yellow;
}

label.critical {
  color: red;
}

#tray {
    margin-right: 10px;
    padding-bottom: 4px;
}
