[Unit]
Description=Start greenclip daemon
After=display-manager.service

[Service]
ExecStart=%h/.local/bin/greenclip daemon
Restart=always

[Install]
WantedBy=default.target
