[Unit]
Description=Lock the screen on resume from suspend

[Service]
Type=simple
ExecStart=%h/.local/bin/lockscreen
ExecStartPost=/usr/bin/sleep 3

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
